*
{
    background-color: black;
    color: silver;
}

nav{
    display: flex;
    height: 10em;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0.08em;
    font-family: 'Oswald', sans-serif;
    font-size: larger;
    margin-bottom: 2em;
}

img
{
    scale: 90%

}

#home_1
{
    display: inline;
    scale: 5%;
}

hr
{
    margin-left: 20%;
}

button
{
    height: 5em;
    width: 10em;
    border-radius: 1em;
    background-color: darkgreen;
}

p,h1
    {
        font-family: 'Oswald', sans-serif;
    }

 .hor_line
    {
        margin: auto;
        color: grey;
    }

.cry_img
{
    display: inline-block;
    height: 6em;
    width: 6em;
}

.eth_img
{
    display: inline-block;
    height: 8em;
    width: 6em;
}

.cry_text
{
    display: inline-block;
    margin-left: 2em;
}

div
{
    display: inline;
}

.coins_logo
{
    display: inline-block;
}

.info
{
    display: flex;
}

#login_site
{
    display:flex;
    margin-top: 3em;
    margin-left: 10em;
}

#username,#password
{
    display:flex;
}


input
{
    border-radius: 1em;
}